<div class="py-4 px-6 md:py-6 md:px-8 shadow-lg bg-white rounded-lg">
    <div class="flex flex-col gap-3">
        <div class="flex gap-3 items-center">
            <img src="{{ message.author.profile_image }}" class="w-16 h-16 rounded-full bg-blue-400 overflow-hidden object-cover">
    
            <p><a href="/users/{{message.author.id}}" class="font-bold text-lg">{{ message.author.username|title }}</a><br><span class="text-sm"> {{ message.timestamp.strftime('%B %d %Y at %I:%M %p') }}</span></p>
        </div>
        <div>
            <p class="font-bold text-stone-500">{{message.subject}}</p>
            <p>{{ message.body }}</p>
            <div class="flex gap-3 mt-3">
                <p><a href="/messages/{{message.author.id}}" class="text-indigo-800">Reply</a></p>
                <p><a href="/messages/{{message.id}}/delete" class="text-rose-500">Delete</a></p>
            </div>

        </div>
    </div>
    
</div>
    
    

    