{% extends 'base.html' %}

{% block title %}Hook - {{ page }}!{% endblock %}

{% block content %}
<div class="h-screen p-4">
<div class="flex flex-col items-stretch justify-between h-full px-2 py-8 relative">
    
    <div class="absolute w-full top-0 left-0 mt-6">
        {% include 'flashed-msgs.html'%}
    </div>
    
    <img src="/static/img/hook-logo-grn.svg" class="box-border h-8 w-24 self-center" alt="hook">
    
    <div class="container text-stone-700 max-w-md">
    
        {% if page == 'Signup' %}
        <h1 class="text-5xl font-light text-center">Create Account</h1>
        {% else %}
        <h1 class="text-6xl font-light mb-2">Login</h1>
        <p class="text-lg ">Please sign in to continue.</p>
        {% endif %}
        <form method="POST" id="signup_form" class="flex flex-col pt-6 pb-8 gap-3">
            {{ form.hidden_tag() }}

            {% for field in form if field.widget.input_type != 'hidden' %}
            {% if field.label.text == 'Is this a band page?'%}
            <div class="flex gap-2 flex-row-reverse justify-end items-center">
                {{field.label}}
                {% endif %}
                {{ field(placeholder=field.label.text, class="rounded border-1 border-stone-400 placeholder:text-xs placeholder:font-extrabold placeholder:uppercase placeholder:text-stone-400") }}
                {% if field.label.text == 'Is this a band page?'%}
            </div>
            {%endif%}
            {% for error in field.errors %}
                <span class="text-red-400 mt-[-8px] mb-1">{{ error }}</span>
            {% endfor %}
            {% endfor %}    

            <button class="bg-emerald-400 text-white self-end active:bg-emerald-500 text-xl mt-2 px-8 pt-2 pb-3 rounded-full shadow hover:shadow-lg hover:bg-emerald-500 outline-none focus:outline-none mb-1 ease-linear transition-all duration-150" type="submit">
                {% if page == 'Signup' %}
                Sign up!
                {% else %}
                Login
                {% endif %}
            </button>
        </form>
    </div>
    {% if page == 'Signup' %}
    <p class="text-center text-stone-600">Already have an account? <a href="/login" class="text-emerald-400 font-bold">Log in</a></p>
    {% else %}
    <p class="text-center text-stone-600">Don't have an account? <a href="/signup" class="text-emerald-400 font-bold">Sign up</a></p>
    {% endif %}
</div>
</div>
{% endblock %}