{% extends 'base.html'%}
{% include 'header.html' %}
{% block title %}Edit Password{% endblock %}
{% block content %}
<div class="p-6 h-full">
    {% include 'flashed-msgs.html'%}
    <h1 class="text-5xl leading-tight font-light mb-5">Edit Password</h1>

    <form method="POST" id="update_password_form" class="w-full">
        {{ form.hidden_tag() }}
        <div class="flex flex-col my-4">

        {% for error in form.old_password.errors %}
        <span class="text-red-400">{{ error }}</span>
        {% endfor %}

        {{ form.old_password.label(class="mb-1 font-medium")}}
        {{ form.old_password(placeholder=form.old_password.label.text, class="form-control rounded") }}
        </div>
        <hr class="border-1 border-emerald-200 mt-6 mb-1">

        {% for field in form if field.widget.input_type != 'hidden' and field.name != 'old_password' %}
          {% for error in field.errors %}
            <span class="text-red-400">{{ error }}</span>
          {% endfor %}
        <div class="flex flex-col my-4">
            {{field.label(class="mb-1 font-medium")}}
            {{ field(placeholder=field.label.text, class="form-control rounded") }}
        </div>
        {% endfor %}
        
        
        
        <div class="flex items-center gap-5 pt-3 pb-10">
            <button class="bg-emerald-400 text-white self-end active:bg-emerald-500 text-xl mt-2 px-8 pt-2 pb-3 rounded-full shadow hover:shadow-lg hover:bg-emerald-500 outline-none focus:outline-none mb-1 ease-linear transition-all duration-150">Update password</button>
            <a href="/users/{{ user.id }}" class="text-emerald-400 underline text-xl">Cancel</a>
        </div>
        
    </form>


{% endblock %}