{% extends 'base.html'%}
{% include 'header.html' %}
{% block title %}Followers{% endblock %}
{% block content %}
<div class="px-0 py-6 bg-slate-800  h-full">
    {% include 'flashed-msgs.html'%}
    <h1 class="text-5xl leading-tight font-light mb-2 text-center text-white">Followers</h1>
    <a href="/users/{{user.id}}" class="text-emerald-400 hover:text-emerald-600 underline text-center"><p>Back to {{user.username|title}}'s profile</p></a>
    <div class="shadow-md flex flex-col py-6  px-6 mt-6 mb-2 rounded bg-slate-900 w-full gap-2">
        {% if users|length < 1 %}
        <p class="text-center text-white">No followers</p>
        {% endif %}
        {% for user in users %}
        {% include '_users.html' %}
        {% endfor%}
    </div>

</div>
{% endblock %}