{% extends 'base.html'%}
{% block title %}Following{% endblock %}
{% block header %}{% include 'header.html' %}{% endblock %}
{% block content %}
<div class="bg-stone-200 w-full h-full fixed top-0 left-0 z-[-1000]"></div>
<div class="flex flex-col items-center px-0 py-6 h-full">
    {% include 'flashed-msgs.html'%}
    <h1 class="text-5xl leading-tight font-light mb-2 text-center">Following</h1>
    <a href="/users/{{user.id}}" class="text-emerald-400 hover:text-emerald-600 underline text-center"><p>Back to {{user.username|title}}'s profile</p></a>
    <div class="flex flex-col md:grid md:grid-cols-2 py-6 mb-2 w-full md:max-w-4xl gap-2 md:gap-4">
        {% if users|length < 1 %}
        <p class="text-center">No follows</p>
        {% endif %}
        {% for user in users %}
        {% include '_users.html' %}
        {% endfor%}
    </div>

</div>
{% endblock %}