<header class="shadow-lg px-6 pt-8 relative z-10">
    <div class="flex items-center justify-between">
        <img src="/static/img/hook-logo-grn.svg" class="h-9 w-27 mb-2" alt="hook">
        <div id="header-icons text-slate-100">
            <p id="nav-menu_btn" class="text-slate-600 hover:text-emerald-400 cursor-pointer"><span class="pr-2 font-[500]">Menu</span><i class="fa-solid fa-ellipsis-vertical  text-xl"></i></p>
        </div>
    </div>
    <div id="nav-menu" class="hidden shadow-lg px-6 py-6 z-10 absolute bg-emerald-400 text-white right-0 text-xl ease-linear transition-all duration-150">
        <nav>
            <ul>
                <a href="/logout"><li class="mb-2">Logout</li></a>
                <a href="/users/update-password"><li>Update Password</li></a>
            </ul>
        </nav>
    </div>
    <nav>
        <ul class="flex justify-around text-slate-600">
          
            {% if page=='search'%}
            <li class="border-b-[3px] border-transparent py-2 w-[100%] text-center font-[500]"><a href="/users/{{g.user.id}}">Profile</a></li>
            <li class="border-b-[3px] border-emerald-400 py-2 w-[100%] text-center font-[500]"><a href="/search">Search</a></li>
            <li class="border-b-[3px] border-transparent py-2 w-[100%] text-center font-[500]"><a href="/messages">Messages</a></li>
            
            {% elif page=='profile' and user == g.user %}
            <li class="border-b-[3px] border-emerald-400 py-2 w-[100%] text-center font-[500]"><a href="/users/{{g.user.id}}">Profile</a></li>
            <li class="border-b-[3px] border-transparent py-2 w-[100%] text-center font-[500]"><a href="/search">Search</a></li>
            <li class="border-b-[3px] border-transparent py-2 w-[100%] text-center font-[500]"><a href="/messages">Messages</a></li>
            
            {% elif page=='messages'%}
            <li class="border-b-[3px] border-transparent py-2 w-[100%] text-center font-[500]"><a href="/users/{{g.user.id}}">Profile</a></li>
            <li class="border-b-[3px] border-transparent py-2 w-[100%] text-center font-[500]"><a href="/search">Search</a></li>
            <li class="border-b-[3px] border-emerald-400 py-2 w-[100%] text-center font-[500]"><a href="/messages">Messages</a></li>
            
            {% else %}
            <li class="border-b-[3px] border-transparent py-2 w-[100%] text-center font-[500]"><a href="/users/{{g.user.id}}">Profile</a></li>
            <li class="border-b-[3px] border-transparent py-2 w-[100%] text-center font-[500]"><a href="/search">Search</a></li>
            <li class="border-b-[3px] border-transparent py-2 w-[100%] text-center font-[500]"><a href="/messages">Messages</a></li>
            {% endif %}
            
        </ul>
    </nav>
</header>