{% extends 'base.html' %}

{% block title %}Hook - Bringing Musicians Together{% endblock %}

{% include 'header.html'%}

{% block content %}


<div class="p-6">
    {% include 'flashed-msgs.html'%}
    <h1 class="text-5xl leading-tight font-light">Find Musicians!</h1>

    <form method="POST" id="signup_form" class="flex flex-col pt-6 pb-8 gap-3">
        {{ form.hidden_tag() }}

        {% for field in form if field.widget.input_type != 'hidden' %}
            {% for error in field.errors %}
                <span class="">{{ error }}</span>
            {% endfor %}
            {% if field.type in ["IntegerRangeField"] %}
            {{field.label(class="text-xl")}}
            <div class="radius_text text-6xl"></div>
            {{field(min=0, max=100, step=10, class="radius_slider")}}
            {% else %}
            {{field.label(class="text-xl")}}
            {{ field(placeholder=field.label.text, class="rounded border-1 border-slate-400 placeholder:text-xs placeholder:font-extrabold placeholder:uppercase placeholder:text-slate-400 mb-3") }}
            {% endif %}
                
        {% endfor %}    

        <button class="bg-emerald-400 text-white active:bg-emerald-500 text-xl mt-2 px-8 pt-2 pb-3 rounded-full shadow hover:shadow-lg hover:bg-emerald-500 outline-none focus:outline-none mb-1 ease-linear transition-all duration-150" type="submit">Search</button>

    </form>
</div>
    
{% endblock %}